/**
 * IwpDesigner Global Css
 * Each Subcomponent Css defined side by side in Components
 */


.iwp-editor-card input[type=text] {
    padding: 0.25rem;
    width: 400px;
}

.iwp-editor-card label {
    vertical-align: top;
    width: 150px;
}

.iwp-editor-card .iwp-editor-card-field {
    display: inline-block;
    width: 550px; /** TODO Need flowing layout */
}

/* Equation editor SubLabels */
.iwp-editor-card  .iwp-editor-card-field label {
    width: 110px;
}
/* Equation editor widths */
.iwp-editor-card  .iwp-editor-card-field .equation-editor input[type=text] {
    width: 300px;
}




.iwp-editor-panel {
    margin: 1.5rem;
}

/** override some reactstrap defaults */
.iwp-editor-panel .card-body {
    padding: 0.5rem;
}

.iwp-editor-panel label {
    margin: 0.5rem;
}

.iwp-editor-panel input[type=text] {
    padding: 0.25rem;
}

/**
 * For Complex inputs in the editor cards next to labels.
 */

.iwp-input-editor {
    text-align: left;
}

.iwp-input-editor-container {
    margin-bottom: 1rem;
}

.iwp-editor-control-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**
 * Colorize the different object type cards
 */

.iwp-input-card-header {
    background-color: rgb(0,204,0);
    color: white;
}

.iwp-output-card-header {
    background-color: rgb(255,0,51);
    color: white;
}

.iwp-solid-card-header {
    background-color: rgb(0,0,255);
    color: white;
}

.iwp-undefined-card-header {
    background-color: #282c34;
    color: white;
}




.iwp-input-card-header .card-title {
    margin: 0.25rem;
}


/**
 * Settings
 */

.iwp-settings-editor label {
    width: 120px;
}

.iwp-settings-editor .row {
    margin-bottom: 1rem;
}

.iwp-settings-editor textarea {
    width: 100%;
    height: 175px;
    padding: 0.5rem;
    border-width: 1px;
    border-color: #ccc;
}

