/**
 * IwpDesigner Global Css
 * Each Subcomponent Css defined side by side in Components
 */

input {
    padding: 0.25rem;
    width: 400px;
}

label {
    width: 150px;
}


.iwp-editor-panel {
    margin: 1.5rem;
}

/** override some reactstrap defaults */
.iwp-editor-panel .card-body {
    padding: 0.5rem;
}

.iwp-editor-panel label {
    margin: 0.5rem;
}

.iwp-input-editor {
    text-align: left;
}

.iwp-input-editor-container {
    margin-bottom: 1rem;
}

.iwp-editor-control-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**
 * Colorize the different object type cards
 */

.iwp-input-card-header {
    background-color: rgb(0,204,0);
    color: white;
}

.iwp-output-card-header {
    background-color: rgb(255,0,51);
    color: white;
}

.iwp-solid-card-header {
    background-color: rgb(0,0,255);
    color: white;
}

.iwp-undefined-card-header {
    background-color: #282c34;
    color: white;
}




.iwp-input-card-header .card-title {
    margin: 0.25rem;
}

