/**
 * IwpDesigner Global Css
 * Each Subcomponent Css defined side by side in Components
 */

input {
    padding: 0.25rem;
    width: 400px;
}

label {
    width: 150px;
}


.iwp-editor-panel {
    margin: 1rem;
}